Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [33]:
test1 = "This is a test of the emergency text system"

In [34]:
f = open("test.txt", "w")
f.write(test1)
f.close()

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [35]:
f = open("test.txt", "r")
test2 = f.read()
test2

'This is a test of the emergency text system'

Create a CSV file called books.csv by using these lines:
title,author,year
'The Weirdstone of Brisingamen','Alan Garner','1960'
'Perdido Street Station','China Miéville','2000'
'Thud!','Terry Pratchett','2005'
'The Spellman Files','Lisa Lutz','2007'
'Small Gods','Terry Pratchett','1992'

In [36]:
import csv

fields = ["title","author", "author"]

rows = [['The Weirdstone of Brisingamen','Alan Garner','1960'],['Perdido Street Station','China Miéville','2000'],['Thud!','Terry Pratchett','2005'],['The Spellman Files','Lisa Lutz','2007'],['Small Gods','Terry Pratchett','1992']]

filename = "book.csv"

# writing to csv file 
with open(filename, 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
        
    # writing the fields 
    csvwriter.writerow(fields) 
        
    # writing the data rows 
    csvwriter.writerows(rows)

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3

conn = sqlite3.connect("book3.db")

c =  conn.cursor()

c.execute("""CREATE TABLE book3 (title text,
author text,
year integer)""")

c.execute("INSERT INTO book3 VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', '1960')")

conn.commit()
conn.close()

Read books.csv and insert its data into the book table.

In [2]:
import sqlite3
import csv

conn = sqlite3.connect("book6.db")

c =  conn.cursor()

# c.execute("""CREATE TABLE book6 (title text,
# author text,
# year integer)""")

# conn.commit()
# conn.close()

filename = "book.csv"
rr =[]
f = []
with open(filename, 'r') as csvfile:
    # creating a csv reader object
    csvreader = csv.reader(csvfile)
      
    # extracting field names through first row
    f = next(csvreader)
  
    # extracting each data row one by one
    for r in csvreader:
        # print(r)
        rr.append(r)
r1 = rr[1]
r3 = rr[3]
r5 = rr[5]
r7 = rr[7]
print(r1)
c.execute("INSERT INTO book6 (title,author,year) VALUES (?,?,?)", r1)
c.execute("INSERT INTO book6 (title,author,year) VALUES (?,?,?)", r3)
c.execute("INSERT INTO book6 (title,author,year) VALUES (?,?,?)", r5)
c.execute("INSERT INTO book6 (title,author,year) VALUES (?,?,?)", r7)

conn.commit()

['The Weirdstone of Brisingamen', 'Alan Garner', '1960']

Select and print the title column from the book table in alphabetical order.

In [3]:
c.execute("SELECT * FROM book6")

output = c.fetchall()

for i in output[0]:
    print(i)

The Weirdstone of Brisingamen
Alan Garner
1960

From the book table, select and print all columns in the order of publication.

In [4]:
ordered = c.execute("SELECT * FROM book6 ORDER BY year")
for o in ordered:
    print(o)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [5]:
import sqlalchemy as db
engine = db.create_engine('sqlite:///book6.db')
conn = engine.connect()